:root{
    --gradient-bg: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    --box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(106, 17, 203, 1);
}

::selection {
    color: white;
    background: rgba(106, 17, 203, 1);
}

body{
    font-family: "Inter", "Roobert", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 15px;
    padding-top: 120px;
}

.login-body, .signup-body, .section-body, .settings-body, .dashboard-body, .report-body{
    background: var(--gradient-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-body, .login-body {
    overflow: hidden;
}

id, account{
    display: none;
}

.student-dashboard-body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: var(--gradient-bg);
    overflow: hidden;
}

.hidden{
    display: none !important;
}

.section {
    display: flex;
    flex-direction: column;
    width: 1200px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    overflow: hidden;
}

.section-header-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.section-days {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: end;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

.section-header {
    border-radius: 20px 20px 0px 0px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: white;
    background: rgba(0,0,0,0.3);
}

.section-content {
    padding: 15px;
    display: grid;
    background: rgba(256,256,256,0.16);
}

#sections {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.section-header-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-header-2-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-content > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sections-header{
    text-align: center;
}

.add-section-container {
    display: flex;
    justify-content: end;
    padding-right: 50px;
    width: 99%;
}


.login-div, .signup-div, .section-div, .settings-div{
    height: fit-content;
    width: 667px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    padding: 30px 0px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    box-shadow: var(--box-shadow);
}

.login-div, .signup-div {
    top: 0px;
    right: 0px;
    border-radius: 0px;
    height: 100%;
}

.signup-div{
    padding: 0px;
}

select {
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
    background: transparent;
    border: 0px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#loginForm, #professor-form, #student-form, #section-form, #settings-form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 66%;
    align-items: center;
}

input[type="dropdown"], input[type="text"], input[type="password"], input[type="email"], input[type="tel"], .number-input, input[type="date"], input[type="time"], input:disabled, .password, input[type="search"], textarea{
    height: 35px;
    border-radius: 20px;
    font-family: "Inter", "Roobert", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    color: white;
    padding-left: 10px;
    width: 250px !important;
    box-sizing: border-box;
    background: rgba(256, 256, 256, 0.1);
    border: 0px;
    min-height: 35px;
}

input#search-bar::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url("/static/images/close.png") no-repeat 50% 50%;
    background-size: contain;
    opacity: 1;
    filter: invert(1);
    cursor: pointer;
    position: relative;
    right: 5px;
}

input[type="time"] {
    padding: 0px 10px;
    text-align: center;
    max-width: 120px;
}

input:focus, select:focus, textarea:focus{
    outline: none;
}

textarea{
    resize: none;
}

button, a:not(.section), .add-meeting-button {
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    width: fit-content;
    padding: 0px 30px 0px 30px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(256, 256, 256, 0.1);
    color: white;
    border: 1.5px solid rgba(256, 256, 256, 0.7);
}

option {
    color: white;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    font-weight: normal;
    text-transform: none;
    font-size: 17px;
}

#loginForm > div, #professor-form > div, #student-form > div, .signup-div > div, #section-form > div, #settings-form > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input[type="date"] {
    font-family: "Inter", "Roobert", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* background: transparent; */
    border: 0px;
    color: white;
    font-size: 17px;
    text-align: center;
    /* border: 2px solid white; */
    border-radius: 20px;
    height: fit-content;
    padding: 4px;
    width: 150px !important;
}

input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;

}

#search-bar{
    color: white;
    border: 2px solid white;
    width: 400px !important;
    height: 45px;
}

.course:not(:first-child) {
    border-top: 1px solid black;
}

.search-results {
    max-height: 300px;
    width: 397px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    z-index: 3;
    top: 26.5%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    color: white;
    box-shadow: var(--box-shadow);
}

.search-results-inner {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.course-search-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
}

.search-results ::-webkit-scrollbar-thumb {
    background-color: rgba(256,256,256,0.4);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.5);
}

.search-results ::-webkit-scrollbar-thumb:hover {
    background: rgba(256,256,256,0.5);
}

.course {
    cursor: pointer;
    padding: 5px 10px;
}

.course:hover {
    background: rgba(0,0,0,0.15);
}

#calendar {
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    div.grid-cell {
        box-sizing: border-box;
        border: 1px solid gray;
    };
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(256, 256, 256, 0.4);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: var(--box-shadow);
}

.grid-item {
    border: 1px solid rgba(256, 256, 256, 0.4);
}

.grid-item:nth-child(1) {
    border-radius: 14px 0px 0px 0px;
}

.grid-item:nth-child(7) {
    border-radius: 0px 14px 0px 0px;
}

.grid-item:nth-child(50) {
    border-radius: 0px 0px 0px 14px;
}

.grid-item:nth-child(56) {
    border-radius: 0px 0px 14px 0px;
}

.grid-course {
    position: absolute;
    background: lightblue;
    width: 100px;
    height: 50px;
}

.student-dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    padding: 30px;
    gap: 15px;
}

nav {
    height: 60px;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 30px;
    width: 95.6%;
    display: flex;
    justify-content: space-between;
    z-index: 4 !important;
}
nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 31px;
    user-select: none;
}

.courses-div {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 537px;
    overflow: auto;
    padding-right: 10px;
    padding-bottom: 20px;
}

.student-dashboard-left, .student-dashboard-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

datalist {
    position: absolute;
    background: rgba(0,0,0, 0.6);
    border-radius: 15px;
    max-height: 200px;
    overflow: auto;
    left: revert;
    min-height: 0px;
    overflow-x: hidden;
}

datalist::-webkit-scrollbar-thumb, datalist::-webkit-scrollbar, .ai-conversation::-webkit-scrollbar-thumb, .ai-conversation::-webkit-scrollbar, .report-body::-webkit-scrollbar-thumb, .report-body::-webkit-scrollbar {
    display: none;
    width: 0px;
}

option:hover {
    background: rgba(256, 256, 256, 0.3);
}

input[type="number"] {
    border: none;
    width: 50px !important;
    text-align: center;
}

.number-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    max-width: 100px !important;
    width: fit-content !important;
}

.number-input > a {
    background: none;
    color: white;
    border: none;
    user-select: none;
    padding: 5px;
}
input[type="number"] {
    padding: 0px;
    background: transparent;
    border: 2px solid white;
    font-family: "Inter", "Roobert", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    color: white;
    border: 0px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.section-div {
    min-height: 600px;
    width: 1000px;
    top: 100px;
}

.meeting-times {
    flex-direction: column !important;
    align-items: start !important;
}

td {
    max-width: 200px !important;
    text-align: center;
}

td > input[type="text"], td > input[autocomplete="off"] {
    width: 160px !important;
    text-align: center;
    padding: 0px 20px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.meeting-times {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

tr > td {
    padding-bottom: 8px;
}

form#section-form {
    width: 800px;
}

.meeting-time {
    width: 800px;
}

.add-meeting-button{
    width: 100% !important;
    padding: 0px !important;
    border: 0px;
}

.remove-meeting-button, .remove-course-button, .add-course-back-button {
    height: 25px;
    width: 25px;
    filter: invert(1);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

input[type="dropdown"] {
    caret-color: transparent;
    background-image: url("/static/images/dropdown.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom 7px right 7px;
    cursor: pointer;
    padding-right: 25px !important;
    text-overflow: ellipsis;
}

.change-password-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 75%;
    align-items: center;
}

.change-password-div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.schedule-course {
    background: rgba(0,0,0,0.4);
    position: absolute;
    width: 99px;
    height: calc((var(--hours)/1.5) * (500px/8) - 1px);
    border-radius: 15px;
    left: calc(var(--day)/7 * 100%);
    top: calc((var(--start) - 8)/ 12 * 100%);
    border: 1.5px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    font-size: 69%;
    justify-content: center;
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
}

.calendar-days {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.calendar-days > p {
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

#search-bar::placeholder {
    color: rgba(256, 256, 256, 0.8);
}

.course-div {
    color: white;
    background: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.course-div > p {
    font-size: 15px;
}

.course-section-div, .course-status, .section-semester {
    width: fit-content;
    background: rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 9px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

.sections-div {
    display: grid;
    grid-template-columns: 50px repeat(auto-fill, 50px);
    gap: 5px;
}

.course-div-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-dashboard-right {
    align-items: end;
}

.schedule-times-div{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 501px;
    justify-content: space-between;
    text-align: right;
    color: white;
    font-weight: bold;
    width: 60px;
    font-size: 13px;
}

.calendar-bottom{
    display: flex;
    gap: 10px;
}

.disabled {
    pointer-events: none !important;
    opacity: 0.7;
}

.remove-course-button, .add-course-back-button {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    padding: 5px;
}

.remove-course-button:hover, img.remove-meeting-button:hover {
    filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}

.schedule-courses {
    position: absolute;
    width: 700px;
    height: 500px;
}

.full {
    border: 3px solid rgba(256,0,0,0.7) !important;
}

div:has(> .conflict-message), div:has(> .credits) {position: absolute;display: flex;flex-direction: row;gap: 5px;}

p.conflict-message {
    position: relative;
    top: -60px;
    width: 700px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.course-section-div.selected, .course-status, .section-semester {
    cursor: default;
    border: 2px solid white;
}

img{
    user-select: none;
}

img.expand-course {
    height: 30px;
    width: 30px;
    cursor: pointer;
    rotate: 0deg;
    transition: 0.2s all linear;
}

div:has( > img.expand-course) {
    display: flex;
    justify-content: center;
}

.section-info-div > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.section-info-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img.collapse.expand-course {
    rotate: -180deg;
}

.no-sections {
    text-align: center;
    font-size: 80% !important;
}

button.submit-enrollment, .add-section {
    background: rgba(0,0,0, 0.3) !important;
    color: white !important;
}

div:has(> .remove-meeting-button) {
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

div:has(> .remove-course-button) {
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

div:has(> .remove-meeting-button):hover, div:has(> .remove-course-button):hover {
    background: rgba(0,0,0,0.2);
}

#account_type, #student_major, #student_sex, #professor_department {
    border: 0px;
    padding-right: 40px !important;
}

div:has(> .credits) p {
    position: relative;
    top: -35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 90%;
}

.form-error-message {
    color: #cc0000;
    font-size: 75%;
    text-align: center;
    margin: -19.65px;
    white-space: nowrap;
    width: 47%;
}

img.logo {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 50%;
    color: white;
    font-size: 25px;
    text-align: center;
}

.welcome-screen > .logo {
    height: 180px;
    width: 180px;
}

.welcome-screen > p {
    font-size: 90%;
}

.login-body > .welcome-screen > p {
    font-size: 75%;
}

.login-body > .welcome-screen > h1 {
    font-size: 194%;
}

form#loginForm {
    height: 300px;
    justify-content: space-evenly;
}

.redirect-div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
}

.redirect-div > a {
    background: none;
    color: white;
    padding: 0px;
    border: 0px;
}

.redirect-div > a:hover {
    color: transparent;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

td > datalist > option {
    justify-content: center !important;
}

.password > input {
    background: none;
    padding: 0px;
    border-radius: 0px;
    width: 208px !important;
    display: flex;
}

.hide-password, .show-password {
    height: 30px;
    filter: invert(1);
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.change-password-buttons {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.ai-logo, .settings-logo, .logout-logo {
    filter: invert(1);
    width: 40px;
    cursor: pointer;
}

.settings-div-outer {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    position: absolute;
    z-index: 5;
    top: 0px;
    justify-content: center;
    align-items: center;
}

.settings-div{
    position: initial;
}

#settings-form {
    height: 475px;
    overflow: auto;
    padding: 10px 30px;
}

#settings-form> button[type="submit"] {
    min-height: 40px;
}

.close-setting {
    filter: invert(1);
    width: 20px;
    position: absolute;
    bottom: 260px;
    left: 291px;
    cursor: pointer;
}

div:has(> .close-setting) {
    position: absolute;
}

.change-password-div > .form-error-message {
    margin: 0px;
}

p.form-error-message.new-password-error {
    white-space: break-spaces;
    width: 200px;
}

.ai-container {
    position: absolute;
    z-index: -1;
}

.ai-div {
    height: 300px;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 122px;
    right: 350px;
    border-radius: 20px;
    padding: 20px 15px;
    box-sizing: border-box;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.ai-conversation {
    width: 365px;
    height: 200px;
    border-radius: 20px;
    background: rgba(256, 256, 256, 0.1);
    overflow: auto;
    padding: 10px;
    font-size: 95%;
    box-sizing: border-box;
    line-height: 33px;
}

.ai-input-div {
    display: flex;
    gap: 20px;
    align-items: center;
    max-height: 35px;
}

.ai-conversation > span {
    display: inline-table;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    box-sizing: border-box;
}

.ai-conversation > span:hover {
    text-decoration: underline;
}

.ai-conversation h4 {
    line-height: initial;
}

.ai-input {
    font-size: 15px;
    height: 40px;
}

.loader {
    font-weight: bold;
    font-size: 15px;
    animation: l1 1s linear infinite alternate;
    text-transform: uppercase;
}
.loader:before {
    content:"Generating Response..."
}
@keyframes l1 {to{opacity: 0}}

div:has(> .loader) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-course.enrolled {
    background: rgb(0 255 0 / 0.36);
    border: 1.5px solid #004000;
}

.section-actions > a > img {
    height: 25px;
    filter: invert(1);
}

.section-actions {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.section-actions > a {
    width: 45px;
    padding: 0px;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.edit-icon {
    position: relative;
    left: 2.2px;
    bottom: 2px;
}

.section-header-1 > div:not(.section-actions) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3px;
}

.course-div.dropped {
    opacity: 0.7;
    pointer-events: none;
}

.course-div.dropped .remove-course-button {
    display: none !important;
}

.add-course-back-button {
    display: none;
    filter: invert(1);
    pointer-events: all !important;
}

.course-div.dropped .add-course-back-button {
    display: block !important;
}

.canvas-container {
    height: 550px;
    width: 900px;
    padding: 50px;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}

.canvas-container:has(#revenue-by-each-service) {
    width: 500px !important;
    padding: 50px 250px;
}

body.report-body {
    gap: 30px;
    padding-top: 99px;
}

canvas#total-orders-by-service {
    padding-bottom: 20px;
}

.total-revenue {
    color: white;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    min-width: 520px;
    justify-content: center;
}

.number {
    position: relative;
    animation: numbers-animate 2s linear forwards;
}

.number h1 {
    font-size: 80px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes numbers-animate{
    0%{
        bottom: 0%;
    }
    100%{
        bottom: calc(var(--number)*140px);
    }
}

.total-revenue-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    height: 650px;
}

div:has(> .remove-meeting-button):hover {
    background: rgba(256,256,256,0.1);
}

.download-report img {
    height: 25px;
    filter: invert(1);
}

.download-report {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
}

.revenue-container {
    height: 650px;
    overflow: hidden;
    width: 1000px;
}

.revenue-container-inner {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: start;
    transform: translateY(calc(var(--option)* -750px));
    transition: all 2s ease-in-out;
}

img.scroll-arrow {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 52px;
    animation: 1.5s scroll-down ease-in-out infinite;
    filter: invert(1);
    cursor: pointer;
    transition: rotate 0.01s ease-in-out, translate 0.5s ease-in-out;
}

@keyframes scroll-down{
    0%{
        margin-bottom: 0px
    }
    50%{
        margin-bottom: 20px;
    }
    100%{
        margin-bottom: 0px;
    }
}

canvas {
    filter: invert(1);
}

.upwards-arrow{
    rotate: 180deg;
    translate: 0-600px;
}